<nav class="top-bar">
  <img src="/assets/skydrive/banner-white.png" style="padding: 5px 0" />
  <span class="right">{{gravatar-image email=currentUser.email s="30"}}</span>
</nav>

{{#if authRedirectUrl}}

  <ul class="breadcrumbs">
    <li>&nbsp;</li>
  </ul>

  <p class="text-center">You must first log into your Sky Drive account.</p>
  <div class="text-center"><button {{action "openAuthPopup"}}>Login</button></div>

{{else}}

  <ul class="breadcrumbs">
    <li class="unavailable"><a href="#">{{currentUser.name}}</a></li>
    {{#if parent_uri}}
      <li>
        {{#linkTo 'files' parent_uri}}&hellip;{{/linkTo}}
      </li>
    {{/if}}
    <li class="current"><a href="#">{{name}}</a></li>
  </ul>

  {{#if isLoading}}
    Loading...
  {{else}}

    <div class="large-12 columns">
      <table id="files-table" style="width: 100%;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Kind</th>
            <th>Size (Kb)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#if parent_uri}}
            <tr>
              <td>
                {{#linkTo 'files' parent_uri}}<img src="/assets/skydrive/icon-folder-back.png" class="icon" align="top"> &hellip;{{/linkTo}}
              </td>
              <td>-</td>
              <td>-</td>
              <td>&nbsp;</td>
            </tr>
          {{/if}}

          {{#each folder in folders}}
            <tr>
              <td>
              {{#linkTo 'files' folder}}
                <img {{bindAttr src="icon"}} class="icon" align="top"> <span class="filename">{{folder.name}}</span>
              {{/linkTo}}
              </td>
              <td>folder</td>
              <td>-</td>
              <td>&nbsp;</td>
            </tr>
          {{/each}}
          {{#each files}}
            <tr {{bindAttr class="is_embeddable::disabled"}}>
              <td><img {{bindAttr src="icon"}} class="icon" align="top"> <span class="filename">{{name}}</span></td>
              <td>{{kind}}</td>
              <td>{{file_size}}</td>
              <td class="text-right">
                <a {{bindAttr href=homework_submission_url}} class="small button" style="text-decoration: none"><i class="icon-signin icon-rotate-90 icon-large"></i></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
  
{{/if}}
