<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sky Drive</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag    "skydrive/stylesheets/font-awesome.min.css", media: "all" %>
  <%= stylesheet_link_tag    "skydrive/stylesheets/normalize.css", media: "all" %>
  <%= stylesheet_link_tag    "skydrive/stylesheets/app.css", media: "all" %>
  <%= javascript_include_tag "skydrive/javascripts/vendor/jquery.js" %>
  <%= javascript_include_tag "skydrive/javascripts/vendor/handlebars.js" %>
  <%= javascript_include_tag "skydrive/javascripts/vendor/ember.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%#= yield %>
<script src="skydrive/javascripts/application.js"></script>

</body>
</html>

